{% extends 'base.html' %}
{% block body %}

  <section class="max-w-screen-2xl mx-auto px-4 md:px-10">

      <div class="mt-10 px-12 rounded-3xl shadowbox py-5 flex items-center justify-between">
           <div class="">
             <h1 class="text-6xl">About Us</h1>
             <p class="w-2/3 pt-4 text-[gray]">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo ipsam eligendi quod temporibus cumque iure.</p>
           </div>

            <img class="w-60 h-60" src="/imgs/roblox.png" alt="">
      </div>


      <div class="mt-[100px]">
        <div class="text-center">
          <h2 class="text-5xl mb-4">What We Serve</h2>
          <p class="w-1/2 text-[gray] mx-auto">Lorem Lorem ipsum dolor sit. ipsum dolor sit consectetur adipisicing elit. Voluptas quos itaque nesciunt quo consectetur perferendis?</p>
        </div>

        <div class="grid grid-cols-3 w-[80%] mx-auto gap-10 mt-10">
          <div class="cardShadow rounded-3xl p-5">
                   <div class="mb-3 text-white bg-gradient-to-br from-purple-400 to-[#A542AA] p-6 rounded-2xl"> 
                       <span><svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 512 512"><path fill="currentColor" d="M382 136c-40.87 0-73.46 20.53-93.6 37.76l-.71.61l-11.47 12.47l25.32 41.61l18.74-18.79C339.89 193.1 361.78 184 382 184c40.8 0 74 32.3 74 72s-33.2 72-74 72c-62 0-104.14-81.95-104.56-82.78C275 240.29 221.56 136 130 136C62.73 136 8 189.83 8 256s54.73 120 122 120c32.95 0 65.38-13.11 93.79-37.92l.61-.54l11.38-12.38l-25.33-41.61l-18.83 18.88C172 319.4 151.26 328 130 328c-40.8 0-74-32.3-74-72s33.2-72 74-72c62 0 104.14 81.95 104.56 82.78C237 271.71 290.44 376 382 376c67.27 0 122-53.83 122-120s-54.73-120-122-120"/></svg></span>
                       <h3 class="text-xl pt-2">Unlimited Templates</h3>
                   </div>
               <p class="text-[gray]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias similique dignissimos quia aperiam optio doloribus dolores placeat neque incidunt minus!</p>
             </div>
               <div class="cardShadow rounded-3xl p-5">
                   <div class="mb-3 text-white bg-gradient-to-br from-purple-400 to-[#A542AA] p-6 rounded-2xl"> 
                       <span><svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 512 512"><path fill="currentColor" d="M382 136c-40.87 0-73.46 20.53-93.6 37.76l-.71.61l-11.47 12.47l25.32 41.61l18.74-18.79C339.89 193.1 361.78 184 382 184c40.8 0 74 32.3 74 72s-33.2 72-74 72c-62 0-104.14-81.95-104.56-82.78C275 240.29 221.56 136 130 136C62.73 136 8 189.83 8 256s54.73 120 122 120c32.95 0 65.38-13.11 93.79-37.92l.61-.54l11.38-12.38l-25.33-41.61l-18.83 18.88C172 319.4 151.26 328 130 328c-40.8 0-74-32.3-74-72s33.2-72 74-72c62 0 104.14 81.95 104.56 82.78C237 271.71 290.44 376 382 376c67.27 0 122-53.83 122-120s-54.73-120-122-120"/></svg></span>
                       <h3 class="text-xl pt-2">Preview Skins</h3>
                   </div>
               <p class="text-[gray]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias similique dignissimos quia aperiam optio doloribus dolores placeat neque incidunt minus!</p>
             </div>
               <div class="cardShadow rounded-3xl p-5">
                   <div class="mb-3 text-white bg-gradient-to-br from-purple-400 to-[#A542AA] p-6 rounded-2xl"> 
                       <span><svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 512 512"><path fill="currentColor" d="M382 136c-40.87 0-73.46 20.53-93.6 37.76l-.71.61l-11.47 12.47l25.32 41.61l18.74-18.79C339.89 193.1 361.78 184 382 184c40.8 0 74 32.3 74 72s-33.2 72-74 72c-62 0-104.14-81.95-104.56-82.78C275 240.29 221.56 136 130 136C62.73 136 8 189.83 8 256s54.73 120 122 120c32.95 0 65.38-13.11 93.79-37.92l.61-.54l11.38-12.38l-25.33-41.61l-18.83 18.88C172 319.4 151.26 328 130 328c-40.8 0-74-32.3-74-72s33.2-72 74-72c62 0 104.14 81.95 104.56 82.78C237 271.71 290.44 376 382 376c67.27 0 122-53.83 122-120s-54.73-120-122-120"/></svg></span>
                       <h3 class="text-xl pt-2">Up To Date</h3>
                   </div>
               <p class="text-[gray]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias similique dignissimos quia aperiam optio doloribus dolores placeat neque incidunt minus!</p>
             </div>
        </div>
      </div>

  <div class="px-4 md:px-6 mt-40 flex flex-col gap-20">
      <div class="flex">
      <div class="w-1/2 items-start">
        <div class="">
          <h2 class="text-5xl text-center mb-10">Section 1</h2>
          <p class="text-xl border-8 border-t-purple-400 border-l-[#c1a1e4]  rounded-tl-4xl border-b-0 border-r-0 text-[gray] cardShadow leading-relaxed bg-gradient-to-r from-purple-50 p-8 rounded-3xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quia asperiores, molestias delectus dignissimos assumenda incidunt possimus sed nesciunt libero veritatis saepe aspernatur, sint necessitatibus quasi officia esse qui suscipit vero a! Sint, aspernatur?</p>
        </div>
      </div>
      <img class="max-w-[300px] drop-shadow-2xl mx-auto" src="/imgs/roblox.png" alt="">
      </div>
     
      <div class="flex">
        <img class="max-w-[300px] drop-shadow-2xl mx-auto" src="/imgs/skin.png" alt="">
      <div class="w-1/2 items-start">
        <div class="">
          <h2 class="text-5xl text-center mb-10">Section 2</h2>
          <p class="text-xl border-8 border-t-purple-400 border-l-[#c1a1e4] rounded-br-4xl border-r-0 border-b-0 text-[gray] cardShadow leading-relaxed bg-gradient-to-r from-purple-50 p-8 rounded-3xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quia asperiores, molestias delectus dignissimos assumenda incidunt possimus sed nesciunt libero veritatis saepe aspernatur, sint necessitatibus quasi officia esse qui suscipit vero a! Sint, aspernatur?</p>
        </div>
      </div>
      </div>
   </div>



</section>


{% endblock body %}