{% extends 'base.html' %}
{% block body %}

<div class="bg-white">
<section class=" max-w-screen-2xl mx-auto px-4 md:px-10">

     <div class="mt-10 px-5 md:px-12 rounded-3xl shadowbox py-5 flex flex-col md:flex-row items-center justify-between gap-5">
           <div class="">
             <h1 class=" text-3xl md:text-6xl">Shirts</h1>
             <p class="md:w-2/3 pt-4 text-[gray]">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo ipsam eligendi quod temporibus cumque iure.</p>
           </div>

            <img class="w-40 h-40" src="/imgs/roblox.png" alt="">
      </div>

         <div class="max-w-7xl mx-auto mt-20">
        <h1 class="text-xl text-black/80 font-bold mb-1">More Categories</h1>
        <p class="mb-6 text-black/40">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A nihil harum blanditiis!</p>

        <!-- Scroller Container -->
        <div class="horizontal-scroller flex space-x-4 pb-6 text-black/80 overflow-x-auto snap-x snap-mandatory">
            
         
            <a href="#" class="flex-shrink-0 transition-all hover:translate-y-1 hover:duration-200 border border-purple-300 snap-center  relative group cardShadow rounded-xl flex flex-col gap-3 p-3 md:px-5 py-2 bg-gradient-to-b from-purple-100">
                 Jeans
            </a>
            
      
            <a href="#" class="flex-shrink-0 border border-purple-300 snap-center  relative group cardShadow transition-all hover:translate-y-1 hover:duration-200 rounded-xl flex flex-col gap-3 p-3 md:px-5 py-2 bg-gradient-to-b from-purple-100">
                 Jeans
            </a>

          
             <a href="#" class="flex-shrink-0 border border-purple-300 snap-center  relative group cardShadow transition-all hover:translate-y-1 hover:duration-200 rounded-xl flex flex-col gap-3 p-3 md:px-5 py-2 bg-gradient-to-b from-purple-100">
                 Jeans
            </a>
            
   
           <a href="#" class="flex-shrink-0 border border-purple-300 snap-center  relative group cardShadow transition-all hover:translate-y-1 hover:duration-200 rounded-xl flex flex-col gap-3 p-3 md:px-5 py-2 bg-gradient-to-b from-purple-100">
                 Jeans
            </a>
            
          
            <a href="#" class="flex-shrink-0 border border-purple-300 snap-center  relative group cardShadow transition-all hover:translate-y-1 hover:duration-200 rounded-xl flex flex-col gap-3 p-3 md:px-5 py-2 bg-gradient-to-b from-purple-100">
                 Jeans
            </a>
            
          
          <a href="#" class="flex-shrink-0 border border-purple-300 snap-center  relative group cardShadow transition-all hover:translate-y-1 hover:duration-200 rounded-xl flex flex-col gap-3 p-3 md:px-5 py-2 bg-gradient-to-b from-purple-100">
                 Jeans
            </a>
             <a href="#" class="flex-shrink-0 border border-purple-300 snap-center  relative group cardShadow transition-all hover:translate-y-1 hover:duration-200 rounded-xl flex flex-col gap-3 p-3 md:px-5 py-2 bg-gradient-to-b from-purple-100">
                 Jeans
            </a>
            
      
            <a href="#" class="flex-shrink-0 border border-purple-300 snap-center  relative group cardShadow transition-all hover:translate-y-1 hover:duration-200 rounded-xl flex flex-col gap-3 p-3 md:px-5 py-2 bg-gradient-to-b from-purple-100">
                 Jeans
            </a>

          
             <a href="#" class="flex-shrink-0 border border-purple-300 snap-center  relative group cardShadow transition-all hover:translate-y-1 hover:duration-200 rounded-xl flex flex-col gap-3 p-3 md:px-5 py-2 bg-gradient-to-b from-purple-100">
                 Jeans
            </a>
            
   
           <a href="#" class="flex-shrink-0 border border-purple-300 snap-center  relative group cardShadow transition-all hover:translate-y-1 hover:duration-200 rounded-xl flex flex-col gap-3 p-3 md:px-5 py-2 bg-gradient-to-b from-purple-100">
                 Jeans
            </a>
            
          
            <a href="#" class="flex-shrink-0 border border-purple-300 snap-center  relative group cardShadow transition-all hover:translate-y-1 hover:duration-200 rounded-xl flex flex-col gap-3 p-3 md:px-5 py-2 bg-gradient-to-b from-purple-100">
                 Jeans
            </a>
            
          
          <a href="#" class="flex-shrink-0 border border-purple-300 snap-center  relative group cardShadow transition-all hover:translate-y-1 hover:duration-200 rounded-xl flex flex-col gap-3 p-3 md:px-5 py-2 bg-gradient-to-b from-purple-100">
                 Jeans
            </a>
             <a href="#" class="flex-shrink-0 border border-purple-300 snap-center  relative group cardShadow transition-all hover:translate-y-1 hover:duration-200 rounded-xl flex flex-col gap-3 p-3 md:px-5 py-2 bg-gradient-to-b from-purple-100">
                 Jeans
            </a>
            
      
            <a href="#" class="flex-shrink-0 border border-purple-300 snap-center  relative group cardShadow transition-all hover:translate-y-1 hover:duration-200 rounded-xl flex flex-col gap-3 p-3 md:px-5 py-2 bg-gradient-to-b from-purple-100">
                 Jeans
            </a>

          
             <a href="#" class="flex-shrink-0 border border-purple-300 snap-center  relative group cardShadow transition-all hover:translate-y-1 hover:duration-200 rounded-xl flex flex-col gap-3 p-3 md:px-5 py-2 bg-gradient-to-b from-purple-100">
                 Jeans
            </a>
            
   
           <a href="#" class="flex-shrink-0 border border-purple-300 snap-center  relative group cardShadow transition-all hover:translate-y-1 hover:duration-200 rounded-xl flex flex-col gap-3 p-3 md:px-5 py-2 bg-gradient-to-b from-purple-100">
                 Jeans
            </a>
            
          
            <a href="#" class="flex-shrink-0 border border-purple-300 snap-center  relative group cardShadow transition-all hover:translate-y-1 hover:duration-200 rounded-xl flex flex-col gap-3 p-3 md:px-5 py-2 bg-gradient-to-b from-purple-100">
                 Jeans
            </a>
            
          
          <a href="#" class="flex-shrink-0 border border-purple-300 snap-center  relative group cardShadow transition-all hover:translate-y-1 hover:duration-200 rounded-xl flex flex-col gap-3 p-3 md:px-5 py-2 bg-gradient-to-b from-purple-100">
                 Jeans
            </a>
             <a href="#" class="flex-shrink-0 border border-purple-300 snap-center  relative group cardShadow transition-all hover:translate-y-1 hover:duration-200 rounded-xl flex flex-col gap-3 p-3 md:px-5 py-2 bg-gradient-to-b from-purple-100">
                 Jeans
            </a>
            
      
            <a href="#" class="flex-shrink-0 border border-purple-300 snap-center  relative group cardShadow transition-all hover:translate-y-1 hover:duration-200 rounded-xl flex flex-col gap-3 p-3 md:px-5 py-2 bg-gradient-to-b from-purple-100">
                 Jeans
            </a>

          
             <a href="#" class="flex-shrink-0 border border-purple-300 snap-center  relative group cardShadow transition-all hover:translate-y-1 hover:duration-200 rounded-xl flex flex-col gap-3 p-3 md:px-5 py-2 bg-gradient-to-b from-purple-100">
                 Jeans
            </a>
            
   
           <a href="#" class="flex-shrink-0 border border-purple-300 snap-center  relative group cardShadow transition-all hover:translate-y-1 hover:duration-200 rounded-xl flex flex-col gap-3 p-3 md:px-5 py-2 bg-gradient-to-b from-purple-100">
                 Jeans
            </a>
            
          
            <a href="#" class="flex-shrink-0 border border-purple-300 snap-center  relative group cardShadow transition-all hover:translate-y-1 hover:duration-200 rounded-xl flex flex-col gap-3 p-3 md:px-5 py-2 bg-gradient-to-b from-purple-100">
                 Jeans
            </a>
            
          
          <a href="#" class="flex-shrink-0 border border-purple-300 snap-center  relative group cardShadow transition-all hover:translate-y-1 hover:duration-200 rounded-xl flex flex-col gap-3 p-3 md:px-5 py-2 bg-gradient-to-b from-purple-100">
                 Jeans
            </a>
        </div>
    </div>



          <hr class="mt-10">

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8 mt-10">

          {% for item in cards %}
               {% include '_include/card.html' %}
          {% endfor %}
        </div>
</section>
</div>


{% endblock body %}
