  .outfit {
    font-family: "Outfit", sans-serif;
  }

  .smooth-hidden {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
    margin-top: 0 !important;
    /* Prevents spacing from margins */
    margin-bottom: 0 !important;
  }

  .display-none {
    display: none;
  }

  /* Base styles for the FAQ answer container */
.faq-answer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

/* Class to show the FAQ answer */
.faq-answer.open {
  max-height: 700px; /* Adjust this value to be larger than your largest possible answer */
  opacity: 1;
}

  /* .activate{
     background-color: #FFF;
     border: 1px solid #d2bbf5;
  } */
  
    .mobile-menu {
            transition: transform 0.3s ease-in-out;
     }


   .shadowbox{
    background-color: white;
   box-shadow:
  /* Your original first shadow */
  #e1c5f8 0px 10px 5px -12px inset,
  /* Your original second shadow */
  #e9d2fb 12px 12px 36px -28px inset,
  /* Additional inner glow color */
  #e6cff9 0px 0px 30px 0px inset,
  /* Another inner glow color for more variety */
  #e8d2f9 2px 0px 10px -2px inset;
   }

  .smooth-show {
    opacity: 1;
    max-height: 1000px;
    /* Adjust this value as needed to be larger than the content */
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
  }

  .cardShadow{
box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 15px;
  }


   /* Styles for the custom dropdown icon */
        .select-arrow {
            transition: transform 0.2s;
        }

        .select-arrow.open {
            transform: rotate(180deg);
        }


         .horizontal-scroller::-webkit-scrollbar {
            height: 6px;
        }
        .horizontal-scroller::-webkit-scrollbar-thumb {
            background-color: #c084fc;
            border-radius: 4px;
        }
        .horizontal-scroller::-webkit-scrollbar-track {
            background-color: #f3e8ff;
            border-radius: 4px;
        }


   .card h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} 