        <a href="/fetchtemplate/{{item.id}}"
  class="card flex-shrink-0 snap-center max-w-[300px] relative group cardShadow transition-colors duration-300 rounded-2xl flex flex-col gap-3 md:gap-4 p-3 md:p-4 ">
  <img
    class="w-[250px] px-3 md:px-6 py-3 rounded-2xl transition-all bg-purple-50 duration-400 group-hover:-translate-y-2 mx-auto"
    src="{{item.url}}" alt="{{item.name}}">
  <div class="flex justify-between items-start gap-3 px-0 md:px-2">
    <h2
      class="text-[gray] text-sm w-[50%] md:w-[80%] tracking-wide truncate">
      {{item.name}}
    </h2>
    <span
      class="text-purple-400 text-sm flex items-center gap-1 px-2 py-0.5 border border-purple-300  bg-purple-50 rounded-2xl">
      shirt
    </span>
  </div>
</a>