  <header class="shadow-sm">
    <div class="flex max-w-[1450px] mx-auto justify-between py-5 px-4 lg:px-6">
      <a href="/"
        class="font-extrabold text-xl bg-gradient-to-br from-orange-400 via-[#E34176] to-[#6F09A0] bg-clip-text text-transparent">RobloxStudio.</a>


      <div class=" hidden md:flex justify-between gap-12 font-bold">
        <a href="/" class="bg-gradient-to-b from-black to-gray-300 bg-clip-text text-transparent">Home</a>
        <a href="/frequently-asked-questions/" class="bg-gradient-to-b from-black to-gray-300 bg-clip-text text-transparent">FAQ's</a>
        <a href="/about-us/" class="bg-gradient-to-b from-black to-gray-300 bg-clip-text text-transparent">About Us</a>
        <a href="/contact-us/" class="bg-gradient-to-b from-black to-gray-300 bg-clip-text text-transparent">Contact Us</a>
      </div>

    </div>
  </header>