<header class="px-5 py-3 sticky top-0 bg-zinc-50 dark:bg-zinc-900 z-20">
   <div class="flex items-center justify-between">
      <a href="/" class="sm:hidden font-extrabold text-xl flex items-center gap-1 shrink-0 mb-1">
         <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24">
            <path fill="#F14D87" d="M12 12.3L3.5 7.05L12 1.8l8.5 5.25z"/>
            <path fill="#ffb4cd" d="M12 22.2v-9.9l8.5-5.25v9.9z" opacity="0.25"/>
            <path fill="#ffb4cd" d="m12 22.2l-8.5-5.25v-9.9L12 12.3z" opacity="0.5"/>
         </svg>
        
         <span class="text-zinc-900 dark:text-zinc-50">Roblox</span>
         <span class="text-[#F14D87]">Studio</span>
      </a>
      <div class="hidden sm:block ">
         <div class="space-x-2 text-zinc-600">
            <button  class="p-1.5 rounded-lg bg-zinc-100 border border-zinc-200 dark:border-zinc-700 dark:bg-zinc-800 text-zinc-600 dark:text-zinc-300 hover:bg-zinc-200 dark:hover:bg-zinc-700 transition-colors duration-200">
               <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 "  viewBox="0 0 16 16">
                  <g fill="none">
                     <g clip-path="url(#SVGbDH6ubpA)">
                        <path stroke="currentColor" stroke-linejoin="round" d="m6.5 8.5l-5-2l11-4l-4 11zm0 0L9 6" stroke-width="1"/>
                     </g>
                     <defs>
                        <clipPath id="SVGbDH6ubpA">
                           <path fill="#fff" d="M0 0h16v16H0z"/>
                        </clipPath>
                     </defs>
                  </g>
               </svg>
            </button>
            <button class="p-1.5 rounded-lg bg-zinc-100 border border-zinc-200 dark:border-zinc-700 dark:bg-zinc-800 text-zinc-600 dark:text-zinc-300 hover:bg-zinc-200 dark:hover:bg-zinc-700 transition-colors duration-200">
               <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 " viewBox="0 0 24 24">
                  <g fill="none" fill-rule="evenodd">
                     <path d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/>
                     <path fill="currentColor" d="M17.817 6.989c-.353-.508-1.297-1.222-2.826-.914c-.892.179-1.425.62-1.764 1.202c-.361.62-.536 1.463-.536 2.444a1 1 0 0 1-1 1c-2.366 0-4.618-.703-6.513-2.604a10.5 10.5 0 0 0-.168 2.34c.053 1.086.312 2.175.927 3.108c.605.917 1.6 1.757 3.264 2.285a1 1 0 0 1 .41 1.655a8.5 8.5 0 0 1-1.796 1.405c1.06.11 2.082.118 3.03.032c1.92-.174 3.449-.723 4.405-1.5c2.013-1.632 3.09-4.066 2.89-8.144c-.034-.67.613-1.393.925-1.942c-.471.088-.943.072-1.248-.367M4.594 4.984a1 1 0 0 1 .941.429C7.011 7.572 8.783 8.47 10.75 8.674c.096-.841.323-1.672.75-2.404c.626-1.074 1.644-1.864 3.098-2.156c2.01-.404 3.54.324 4.427 1.215l1.792-.335a1 1 0 0 1 1.053 1.478l-1.72 3.022c.157 4.361-1.055 7.405-3.639 9.502c-1.37 1.112-3.332 1.743-5.485 1.938c-2.17.196-4.623-.041-7.061-.753a1 1 0 0 1 .007-1.922c1.226-.349 2.16-.65 3.003-1.177c-1.199-.636-2.082-1.468-2.707-2.416c-.868-1.318-1.19-2.788-1.254-4.113S3.141 8 3.343 7.115c.115-.505.249-1.011.434-1.495a1 1 0 0 1 .818-.636Z"/>
                  </g>
               </svg>
            </button>
         </div>
      </div>
      <div class="hidden md:flex flex-1 max-w-md mx-8">
         <div class="w-full relative">
            <div class="relative flex items-center bg-white dark:bg-zinc-800 rounded-full border border-zinc-200 dark:border-zinc-700 hover:shadow-md transition-shadow dark:text-zinc-300 z-30">
               <input id="searchInput" type="text" placeholder="Search destinations, properties..." class="w-full py-2 px-6 bg-transparent rounded-full focus:outline-none" value="">
               <button type="submit" class="absolute right-2 p-2 bg-rose-500 text-white rounded-full hover:bg-rose-600 transition-colors">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search w-4 h-4">
                     <circle cx="11" cy="11" r="8"></circle>
                     <path d="m21 21-4.3-4.3"></path>
                  </svg>
               </button>
            </div>
            <section class="searchbox hidden opacity-0 transition-opacity duration-500">
               <div  class="absolute left-0 mt-1 z-50 w-full overflow-y-auto text-zinc-900 border border-zinc-300 rounded-lg bg-primary border-tertiary max-h-96 bg-zinc-50 dark:bg-zinc-700 dark:border-zinc-600 dark:text-white group [&::-webkit-scrollbar]:w-1 [&::-webkit-scrollbar-track]:bg-zinc-100 [&::-webkit-scrollbar-thumb]:bg-zinc-300 dark:[&::-webkit-scrollbar-track]:bg-zinc-700 dark:[&::-webkit-scrollbar-thumb]:bg-zinc-500">
                  <ul id="searchResults">
                  </ul>
                  <p id="searchLoader" class="mb-3 md:mb-6 text-center text-zinc-600 dark:text-zinc-300 flex items-center justify-center mt-3 gap-2">
                     Your Searched Result 
                     <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="animate-spin" viewBox="0 0 24 24">
                        <g fill="currentColor">
                           <path fill-rule="evenodd" d="M12 19a7 7 0 1 0 0-14a7 7 0 0 0 0 14m0 3c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10" clip-rule="evenodd" opacity="0.2"/>
                           <path d="M2 12C2 6.477 6.477 2 12 2v3a7 7 0 0 0-7 7z"/>
                        </g>
                     </svg>
                  </p>
               </div>
               <svg xmlns="http://www.w3.org/2000/svg" class="closesearch cursor-pointer absolute right-2 top-1 p-1.5 w-8 h-8 z-30 bg-rose-500 text-white rounded-full hover:bg-rose-600 transition-colors" viewBox="0 0 24 24">
                  <path fill="currentColor" d="M5.293 5.293a1 1 0 0 1 1.414 0L12 10.586l5.293-5.293a1 1 0 1 1 1.414 1.414L13.414 12l5.293 5.293a1 1 0 0 1-1.414 1.414L12 13.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L10.586 12L5.293 6.707a1 1 0 0 1 0-1.414"></path>
               </svg>
               <div class="w-full h-full bg-black z-20 fixed top-0 left-0 bg-opacity-50"></div>
            </section>
         </div>
      </div>
      <div class="flex items-center justify-center">
         <div id="theme-toggle">
            <button
               class="hidden dark:block p-2 rounded-lg bg-zinc-100 dark:bg-zinc-800 text-zinc-700 dark:text-zinc-300 hover:bg-zinc-200 dark:hover:bg-zinc-700 transition-colors duration-200"
               aria-label="Toggle theme">
               <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="lucide lucide-sun h-5 w-5">
                  <circle cx="12" cy="12" r="4"></circle>
                  <path d="M12 2v2"></path>
                  <path d="M12 20v2"></path>
                  <path d="m4.93 4.93 1.41 1.41"></path>
                  <path d="m17.66 17.66 1.41 1.41"></path>
                  <path d="M2 12h2"></path>
                  <path d="M20 12h2"></path>
                  <path d="m6.34 17.66-1.41 1.41"></path>
                  <path d="m19.07 4.93-1.41 1.41"></path>
               </svg>
            </button>
            <button
               class="block dark:hidden p-2 rounded-lg bg-zinc-100 border border-zinc-200 dark:border-zinc-700 dark:bg-zinc-800 text-zinc-700 dark:text-zinc-300 hover:bg-zinc-200 dark:hover:bg-zinc-700 transition-colors duration-200"
               aria-label="Toggle theme">
               <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="lucide lucide-moon h-5 w-5">
                  <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path>
               </svg>
            </button>
         </div>
         <div class="sm:hidden">
            <button id="mobile-search-toggle" class="cursor-pointer p-2 relative transition-transform duration-300">
               <svg class="h-6 w-6 text-zinc-700 dark:text-zinc-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                  <g fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="4">
                     <path d="M21 38c9.389 0 17-7.611 17-17S30.389 4 21 4S4 11.611 4 21s7.611 17 17 17Z"/>
                     <path stroke-linecap="round" d="M26.657 14.343A7.98 7.98 0 0 0 21 12a7.98 7.98 0 0 0-5.657 2.343m17.879 18.879l8.485 8.485"/>
                  </g>
               </svg>
            </button>
            <button id="mobile-menu-toggle" class=" cursor-pointer p-2 relative transition-transform duration-300">
               <!-- Hamburger Icon -->
               <svg id="hamburger-icon" class="h-6 w-6 text-zinc-700 dark:text-zinc-300 transition-opacity duration-300" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7" />
               </svg>
               <!-- Close Icon -->
               <svg id="close-icon" class="h-6 w-6 text-zinc-700 dark:text-zinc-300 hidden absolute top-2 transition-opacity duration-300" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
               </svg>
            </button>
         </div>
      </div>
   </div>
   <div id="mobile-search-bar" class="fixed top-0 left-0 w-full z-[100] bg-white/60 backdrop-blur-2xl transform transition-transform duration-300 ease-in-out -translate-x-full">
      <div class="relative w-full h-full flex items-center p-4">
         <input type="text" class="w-full text-lg p-2 rounded-xl focus:outline-none focus:ring-2 focus:ring-[#F14D87] border border-zinc-300 placeholder:text-[black]/15" placeholder="Search templates...">
         <button id="close-search-btn" class="absolute right-4 p-2 text-zinc-500 hover:text-zinc-700">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
               <line x1="18" y1="6" x2="6" y2="18"></line>
               <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
         </button>
      </div>
   </div>
</header>
<script>
   document.addEventListener('DOMContentLoaded', () => {
       const toggleButton = document.getElementById('mobile-menu-toggle');
       const mobileMenu = document.getElementById('sidebar-menu');
       const hamburgerIcon = document.getElementById('hamburger-icon');
       const closeIcon = document.getElementById('close-icon');
        const closeIcon2 = document.getElementById('close-icon2');
   
       const toggleSearchButton = document.getElementById('mobile-search-toggle');
       const mobileSearchBar = document.getElementById('mobile-search-bar');
       const closeSearchButton = document.getElementById('close-search-btn');
   
       toggleButton.addEventListener('click', () => {
           const isMenuOpen = !mobileMenu.classList.contains('-translate-x-full');
   
           if (isMenuOpen) {
               mobileMenu.classList.add('-translate-x-full');
               hamburgerIcon.classList.remove('opacity-0');
               closeIcon.classList.add('hidden');
               toggleButton.classList.remove('rotate-90');
           } else {
               mobileMenu.classList.remove('-translate-x-full');
               hamburgerIcon.classList.add('opacity-0');
               closeIcon.classList.remove('hidden');
               toggleButton.classList.add('rotate-90');
           }
       });
   
   
       closeIcon2.addEventListener('click', () => {
           mobileMenu.classList.add('-translate-x-full');
           hamburgerIcon.classList.remove('opacity-0');
           closeIcon.classList.add('hidden');
           toggleButton.classList.remove('rotate-90');
       })
   
   
   
         // Function to handle opening the mobile search bar
       const openMobileSearch = () => {
           mobileSearchBar.classList.remove('-translate-x-full');
           mobileSearchBar.classList.add('search-slide-in');
       };
       
       // Function to handle closing the mobile search bar
       const closeMobileSearch = () => {
           mobileSearchBar.classList.add('-translate-x-full');
           mobileSearchBar.classList.remove('search-slide-in');
       };
   
   
       toggleSearchButton.addEventListener('click', openMobileSearch);
       closeSearchButton.addEventListener('click', closeMobileSearch);
       
       // Initial state: hide search bar on load
       closeMobileSearch();
   });
</script>
<!-- script is  -->
<script>
   const searchInput = document.getElementById('searchInput');
   const searchBox = document.querySelector('.searchbox');
   const searchResults = document.querySelector('#searchResults');
   const searchLoader = document.querySelector('#searchLoader');
   const closeSearch = document.querySelector('.closesearch');
   
   // 🔹 Debounce (to prevent too many requests)
   function debounce(func, delay = 900) {
     let timeout;
     return (...args) => {
       clearTimeout(timeout);
       timeout = setTimeout(() => func(...args), delay);
     };
   }
   
   // 🔹 Handle search query
   const handleSearch = async (e) => {
     const query = e.target.value.trim();
     try {
       searchResults.innerHTML = ''; // clear previous results
       if (!query) {
         searchLoader.classList.remove('hidden');
         return;
       }
   
       const response = await fetch(`/search-query/?q=${encodeURIComponent(query)}`);
       const html = await response.text();
       searchLoader.classList.add('hidden');
       searchResults.innerHTML = html;
     } catch (error) {
       console.error("Search fetch failed", error);
     }
   };
   
   searchInput.addEventListener('input', debounce(handleSearch, 900));
   
   // 🔹 Show and hide behavior based on input
   searchInput.addEventListener('input', (e) => {
     const value = e.target.value.trim();
     if (value.length >= 1) {
       showSearchBox();
     } else {
       hideSearchBox(true); // true = also clear contents
     }
   });
   
   // 🔹 Show with fade-in
   function showSearchBox() {
     if (searchBox.classList.contains('hidden')) {
       searchBox.classList.remove('hidden');
       setTimeout(() => {
         searchBox.classList.remove('opacity-0');
       }, 10);
     }
   }
   
   // 🔹 Hide with fade-out
   function hideSearchBox(clear = false) {
     if (!searchBox.classList.contains('hidden')) {
       searchBox.classList.add('opacity-0');
       searchBox.addEventListener('transitionend', () => {
         if (searchBox.classList.contains('opacity-0')) {
           searchBox.classList.add('hidden');
   
           // 🧹 Clear search input, loader, and results
           if (clear) {
             searchInput.value = '';
             searchResults.innerHTML = '';
             searchLoader.classList.remove('hidden');
           }
         }
       }, { once: true });
     }
   }
   
   // 🔹 Close button click (no parentheses)
   if (closeSearch) {
     closeSearch.addEventListener('click', () => hideSearchBox(true));
   }
</script>