 <div class="max-w-3xl bg-white m-auto mt-5 p-10  rounded-3xl  cardShadow">
      <div class="flex items-center justify-between gap-10">
      <div class="flex flex-col gap-5 w-full text-purple-600">
        <div class="bg-purple-50 border border-purple-300 rounded-xl w-full p-4 flex items-center gap-3">
          <h2 class="w-16">Name</h2>
          <span>|</span>
          <p class="text-black">{{item.name}}</p>
        </div>
        <div class="bg-purple-50 border border-purple-300 rounded-xl p-4 flex items-center gap-3">
          <h2 class="w-16">Category</h2>
          <span>|</span>
          <p class="text-black">{{item.slug}}</p>
        </div>

        <div class="bg-purple-50 border border-purple-300 rounded-xl p-4 flex justify-between items-center gap-3">
          <div class="flex items-center gap-3">
            <h2 class="w-16">Code</h2>
            <span>|</span>
            <p class="text-black tracking-wide">{{item.code}}</p>
          </div>
          <button onclick="navigator.clipboard.writeText(document.getElementById('itemCode').innerText)"
            class="ml-4 px-4 py-2 cursor-pointer bg-purple-700 text-white rounded-md hover:bg-purple-800 transition duration-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
            Copy
          </button>
        </div>
      </div>
      <div class="border border-purple-200 p-4 rounded-3xl">
        <img class="w-[350px] drop-shadow-xl" src="{{item.url}}" alt="{{item.name}}">
      </div>
    </div>
    <button class="w-full mt-8 shadow-2xl cursor-pointer px-4 py-2 bg-purple-700 text-white rounded-md hover:bg-purple-800 transition duration-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">Download Template</button>
    </div>
