 <div class=" m-auto relative overflow-hidden ">
      <div class="swiper tshirt">
        <div class="swiper-wrapper flex items-center">
          {% for item in tshirt %}
          <div class="swiper-slide">
            {% include '_include/card.html' %}
          </div>
          {% endfor %}
        </div>
      </div>
</div>
 
 <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<style>
 
</style>


<script>
  var tshirtswiper = new Swiper(".tshirt", {
    slidesPerView: 2,
    spaceBetween: 10,
    speed: 900, // ⬅️ Controls slide transition speed (ms). Higher = smoother.
    // freeMode: true,
    loop: true, // Infinite looping
    autoplay: {
      delay: 3500, // Auto-slide every 2.5s
      disableOnInteraction: false, // Keeps autoplay active after interactions
       reverseDirection: true, // 👈 Moves the slider to the right side
    },
    pagination: {
      el: ".swiper-tshirt",
      clickable: true,
    },
    breakpoints: {
      640: {
        slidesPerView: 2, // Tablets: Show 2 slides
      },
      768: {
        slidesPerView: 4, // Small desktops: Show 2 slides
      },
      1024: {
        slidesPerView: 6, // Desktops: Show 3 slides
      },
    },
  });
</script>
