

{% extends 'base.html' %}
{% set page_num = "" %}

{% set canonical_url = "https://robloxtemplate.org/template/" %}

{% if currentPage and currentPage != 1 %}
  {% set canonical_url = canonical_url ~ currentPage ~ "/" %}
{% endif %}
{% set prev_url = "" %}
{% set next_url = "" %}
{% if currentPage and currentPage != 1 %}
  {% set page_num = "| Page " ~ currentPage %}
  {% if currentPage == 2 %}
    {% set prev_url = "https://robloxtemplate.org/template/" %}
  {% else %}
    {% set prev_url = "https://robloxtemplate.org/template/" ~ (currentPage - 1) ~ "/" %}
  {% endif %}
{% endif %}
{% if currentPage and currentPage < totalPages %}
  {% set next_url = "https://robloxtemplate.org/template/" ~ (currentPage + 1) ~ "/" %}
{% endif %}

{% 
  set seometa = { 
    title: "Explore more – Roblox Template", 
    description: "Explore more Roblox templates — discover new, trending, and unique designs to enhance your Roblox creations. Download and build today!", 
    canonical: canonical_url,
    image: "https://Robloxtemplate.com/img/social.png",
    prev: prev_url,
    next: next_url
  } 
%} 

{% block meta %}
  {% include '_include/meta.html' %}
{% endblock meta %}
{% block body %}

    <section class="mx-auto p-5 pt-0 -z-10">

      {% include '_include/breadcrumb.html' %}

    <div class="relative bg-cover rounded-xl overflow-hidden " style="background-image: url('/imgs/exploreBg.png');">
      <div class="absolute inset-0  bg-gradient-to-t from-[#F43F5E] via-black/90 to-black/50  opacity-80 -mb-20"></div>
      <div class="relative flex items-center justify-center h-full">
      <div class="text-white text-center p-5 md:p-12 py-16 xl:py-20">
          <h1 class="text-4xl md:text-7xl font-bold mb-4 drop-shadow-2xl bg-gradient-to-t from-[#ff768d] via-white to-white bg-clip-text text-transparent">Explore Templates</h1>
          <p class="text-xl  text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab maiores perspiciatis nulla?</p>
      </div>
      </div>
    </div>

    <div class="grid grid-cols-2 lg:grid-cols-4 xl:grid-cols-6 gap-5 mt-5">
          {% for item in cards %}
            {% include '_include/card.html' %}
          {% endfor %}
    </div>
    
     {% include 'template/pagination.html' %}

</section>
{% endblock body %}